@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    --gray-text: #868686;
    --red-darken: #b71c1c;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

main {
    flex: 1 0 auto;
}

::-moz-selection {
    color: #9b9b9b;
    background: black;
}

::selection {
    color: white;
    background: black;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #c7c7c7; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media only screen and (max-width: 992px){
    ::-webkit-scrollbar {
        display: none;
    }
}

.btn {
    background-color: #b71c1c !important;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 90rem;
}

.card-image img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.card-content div {
    font-size: large;
}

.card-content {
    white-space: nowrap;
    overflow: hidden;
}

.divider {
    margin: 20px;
}

.input-field input:focus + label {
    color: var(--red-darken) !important;
}

.input-field input:focus {
    border-bottom: 1px solid var(--red-darken) !important;
    box-shadow: 0 1px 0 0 var(--red-darken) !important;
}

.material-icons.active {
    color: var(--red-darken) !important;
}