@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    --gray-text: #868686;
    --red-darken: #b71c1c;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

main {
    flex: 1 0 auto;
}

.sticky-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

::-moz-selection {
    color: #9b9b9b;
    background: black;
}

::selection {
    color: white;
    background: black;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #c7c7c7; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media only screen and (max-width: 992px){
    ::-webkit-scrollbar {
        display: none;
    }
}

.btn {
    background-color: #b71c1c !important;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 90rem;
}

.logo-home {
    margin-top: 5px;
}

.top-profile-background {
    position: absolute;
    top: 0px;
    left: 0;
    margin: auto;
    min-height: 20vh;
    width: 100% !important;
    object-fit: none;
    z-index: -1;
}

.btn-sidenav {
    position: absolute;
    top: 1.8rem;
    left: 1rem;
    z-index: 2;
    color: white;
}

.layout-pages {
    padding-top: 100px !important;
    height: 100%;
    width: 100%;  
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
}

.react-loader {
	display: block;
	transition: 0.5s;
	opacity: 1;
	position: fixed;
	z-index: 100000;
	width: 100%;
	left: 0;
	top: 0;
	margin-top: -8px;
}

.react-loader .progress {
	background-color: #d50000  !important;
}

.react-loader .progress .indeterminate {
	background-color: #2c2c2c !important;
}

.card-image img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.card-content div {
    font-size: large;
}

@media screen and (min-width: 1024px) {
    .cards-home {
        padding: 15px !important;
    }
}

@media screen and (min-width: 1600px) {
    .cards-home {
        padding: 20px !important;
    }
}

.responsive-card .card-content {
    white-space: nowrap;
    overflow: hidden;
}

.body-home {
    margin: 0;
    background-color: #e12835;
    background-image: radial-gradient(#e12835 20%, #be2633 50%, rgba(0, 0, 0, .5) 100%);
    background-size: 120%;
    background-position: center;
    font-family: 'Barlow Condensed', sans-serif;
    animation: tighten-vinette ease-out 1800ms forwards;
}
.images {
    pointer-events: none;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    opacity: 0.6;
    z-index: 20;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-image: url('https://static.comicvine.com/uploads/original/11124/111240517/4986890-4700382785-29908.jpg');
}
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    cursor: default;
    text-align: center;
}
.logo:hover .restart {
    opacity: 0.8;
}
.restart {
    color: #fff;
    margin-top: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.08rem;
    transition: opacity 150ms linear;
}
.restart:hover {
    color: rgb(209, 209, 209);
    transition: 0.2s linear;
    cursor: pointer;
}
.marvel, .studios {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
    font-size: 5rem;
    margin: 0.05rem 0.05rem 0.5rem;
    padding: 0 0.4rem;
    display: inline-block;
}

@media screen and (max-width: 899px) {
    .marvel, .studios {
        font-size: 4rem;
    }
}

.studios {
    font-weight: 500;
    letter-spacing: -0.3rem;
    transform: translateX(-95px);
    font-family: 'Barlow Condensed', sans-serif;
}
.marvel {
    z-index: 10;
    font-weight: 800;
    transform: translateX(95px);
    font-family: 'Barlow Condensed', sans-serif;
}
.marvel:before {
    z-index: -10;
    content: '';
    display: block;
    background-color: #e12835;
    border: solid rgba(255, 255, 255, .2) 1px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.studios:after, .studios:before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    background-color: #fff;
    display: block;
    left: 0.4rem;
    right: 0.4rem;
}
.studios:before {
    top: 0;
}
.studios:after {
    bottom: 0;
}
.wrapper.run-animation {
    animation: shrink ease-out 4800ms forwards 600ms;
}
.wrapper.run-animation .marvel {
    transform: translateX(95px);
    animation: slide-out-X 750ms ease forwards;
}
.wrapper.run-animation .studios {
    transform: translateX(-95px);
    color: transparent;
    animation: slide-out-X 750ms ease forwards, show-text 300ms linear forwards 1500ms;
}
.wrapper.run-animation .studios:before {
    transform: translateY(2.9rem);
    animation: slide-out-Y 300ms ease forwards 750ms;
}
.wrapper.run-animation .studios:after {
    transform: translateY(-2.9rem);
    animation: slide-out-Y 300ms ease forwards 750ms;
}
.wrapper.run-animation .restart {
    opacity: 0;
    animation: fade-down 1200ms ease 3600ms forwards;
}
.wrapper.run-animation ~ .images {
    animation: flicker-images 1500ms 2 steps(1, end), fade-out 4500ms forwards;
}
@keyframes slide-out-X {
    100% {
        transform: translateX(0);
   }
}
@keyframes slide-out-Y {
    100% {
        transform: translateY(0);
   }
}
@keyframes show-text {
    100% {
        color: #fff;
   }
}
@keyframes shrink {
    100% {
        transform: scale(0.8);
   }
}
@keyframes tighten-vinette {
    100% {
        background-size: 120%;
   }
}
@keyframes fade-down {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
   }
    100% {
        transform: translateY(0);
        opacity: 0.5;
   }
}
@keyframes fade-out {
    100% {
        opacity: 0;
   }
}
@keyframes flicker-images {
    0% {
        background-image: url('https://i.ytimg.com/vi/lhgrYaBmplY/maxresdefault.jpg');
   }
    10% {
        background-image: url('https://i.ytimg.com/vi/lhgrYaBmplY/maxresdefault.jpg');
   }
    20% {
        background-image: url('https://www.nerdmuch.com/wp-content/uploads/2016/02/funny-deadpool.jpg');
   }
    30% {
        background-image: url('https://i.pinimg.com/736x/b4/e0/d5/b4e0d51ab9af14198f733ca582d06794--geek-things-geek-art.jpg');
   }
    40% {
        background-image: url('https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/fc/3025621-poster-p-1-ka-pow-marvel-opens-massive-comic-book-images-archive-and-api-to-fans-developers.jpg');
   }
    50% {
        background-image: url('http://nerdist.com/wp-content/uploads/2015/03/captain-america-iron-man-civil-war-1024x597.jpg');
   }
    60% {
        background-image: url('https://geekreply.com/wp-content/uploads/2015/05/watchmen.jpg');
   }
    70% {
        background-image: url('http://cdn.playbuzz.com/cdn/3c096341-2a6c-4ae6-bb76-3973445cfbcf/6b938520-4962-403a-9ce3-7bf298918cad.jpg');
   }
    80% {
        background-image: url('http://cdn.wegotthiscovered.com/wp-content/uploads/2016/05/Storm-and-Black-Panther-marriage.jpg');
   }
    90% {
        background-image: url('https://i.ytimg.com/vi/lhgrYaBmplY/maxresdefault.jpg');
   }
    100% {
        background-image: url('https://i.ytimg.com/vi/lhgrYaBmplY/maxresdefault.jpg');
   }
}

/* BOTÃO HOME */
.btn-home {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: none;
	padding: 0;
	color: var(--button-text-color);
	cursor: pointer;
	--button-text-color: #212121 ;
	--border-color: #7D8082;
	--button-background-color: #fff;
	--highlight-color: #212121;
	--button-inner-border-color: transparent;
	--button-bits-color: var(--background-color);
	--button-bits-color-hover: var(--button-background-color);
	position: relative;
	padding: 8px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	transition: all .15s ease;
}

.btn-home::before,
.btn-home::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	height: calc(50% - 5px);
	border: 1px solid var(--border-color);
	transition: all .15s ease;
}

.btn-home::before {
	top: 0;
	border-bottom-width: 0;
}

.btn-home::after {
	bottom: 0;
	border-top-width: 0;
}

.btn-home:active,
.btn-home:focus {
	outline: none;
}

.btn-home:active::before,
.btn-home:active::after {
	right: 3px;
	left: 3px;
}

.btn-home:active::before {
	top: 3px;
}

.btn-home:active::after {
	bottom: 3px;
}

.btn-home:hover {
    color: #fff;
}

.btn__inner {
	position: relative;
	display: block;
	padding: 20px 30px;
	background-color: var(--button-background-color);
	overflow: hidden;
	box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background-color: var(--button-bits-color);
}

.btn__inner::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 4px;
	height: 4px;
	background-color: var(--button-bits-color);
	transition: all .2s ease;
}

.btn__slide {
	display: block;
	position: absolute;
	top: 0;
	bottom: -1px;
	left: -8px;
	width: 0;
	background-color: var(--highlight-color);
	transform: skew(-15deg);
	transition: all .2s ease;
}

.btn__content {
	position: relative;
	font-size: large;
}

@media (max-width: 899px) {
	.btn__content {
		font-size: small;
	}
}

.btn-home:hover .btn__slide {
	width: calc(100% + 15px);
}

.btn-home:hover .btn__inner::after {
	background-color: var(--button-bits-color-hover);
}

.btn--light {
	--button-background-color: var(--background-color);
	--button-text-color: var(--highlight-color);
	--button-inner-border-color: var(--highlight-color);
	--button-bits-color-hover: #ece8e1;
}
/* END BOTÃO HOME */

.character-name {
    font-size: 1.8rem;
    color: var(--gray-text);
    margin-top: 10px;
    font-weight: 600;
}

.character-description {
    color: var(--gray-text);
    width: 80%;
    margin: 15px auto;
}

.character-id {
    color: var(--gray-text);
}

.divider {
    margin: 20px;
}

.series-number {
    font-size: xx-large;
    font-weight: 600;
    color: var(--gray-text);
}

.character-profile {
    margin-top: 15vh;
}

.character-profile-edit {
    margin-top: 15vh;
}

@media screen and (max-width: 1200px) {
    .character-profile-edit {
        margin-top: 5vh;
    }
}

.character-img {
    position: relative;
    margin-top: -11vh;
    box-shadow: 5px 8px 15px;
    max-width: 20rem;
}

.list-series {
    padding: 10px 0 10px 0;
}

.character-img {
    width: 35%;
}

@media screen and (min-width: 700px) {
    .character-img {
        width: 30%;
    }
}

@media screen and (min-width: 1365px) {
    .character-img {
        width: 30%;
    }

    .character-profile {
        margin-top: 18vh;
    }
}

@media screen and (min-width: 1600px) {
    .character-profile {
        margin-top: 20vh;
    }
}

.card-edit-character {
    padding: 20px;
}

.input-field input:focus + label {
    color: var(--red-darken) !important;
}

.input-field input:focus {
    border-bottom: 1px solid var(--red-darken) !important;
    box-shadow: 0 1px 0 0 var(--red-darken) !important;
}

.material-icons.active {
    color: var(--red-darken) !important;
}